* {
    box-sizing: border-box;
}

.d-none {
    display: none !important;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

h2 {
    display: inline-block;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: rgb(210, 210, 210);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid rgb(210, 210, 210);
}

.overflow-hidden {
    overflow: hidden;
}

/*----------header----------*/

header {
    z-index: 5;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 4px 0px #000000;
    background-color: #f6f6f6;
}

header div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    margin: 0 60px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    width: 30px;
    transform: rotate(90deg);
    margin-right: 10px;
}

#search {
    display: inline-block;
    height: 25px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

/*----------Hauptinhalt - geladene Pokemon----------*/

.background {
    position: fixed;
    height: 110%;
    width: 100%;
    background-image: url(img/pokeball.png);
    background-position: center;
    top: -60px;
    background-repeat: no-repeat;
    filter: invert(0.1);
}

#pokemon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1350px;
    padding: 30px;
}

.pokemon {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 180px;
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 0px #000000;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.pokemon:hover {
    cursor: pointer;
    scale: 1.01;
    transition: all 225ms ease-in-out;
}

.pokemon span {
    margin-bottom: 10px;
}


.pokemon-img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 140px;
    object-fit: cover;
}

.pokeball-img {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 160px;
    opacity: 0.4;
}

.type-container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 20px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px;
}

/*----------Klassen mit Farben der Pokemon----------*/

.bg-grass {
    background-color: rgb(73, 208, 176);
}

.bg-fire {
    background-color: rgb(251, 108, 108);
}

.bg-water {
    background-color: rgb(118, 189, 254);
}

.bg-bug {
    background-color: rgb(118 226 118);
}

.bg-normal {
    background-color: rgb(242, 212, 174);
}

.bg-poison {
    background-color: rgb(246, 47, 246);
}

.bg-electric {
    background-color: rgb(255, 217, 0);
}

.bg-ground {
    background-color: rgb(184, 149, 103);
}

.bg-fairy {
    background-color: rgb(255, 200, 200);
}

.bg-fighting {
    background-color: rgb(147, 45, 45);
}

.bg-psychic {
    background-color: rgb(156, 0, 156);
}

.bg-rock {
    background-color: grey;
}

.bg-ghost {
    background-color: rgb(72, 65, 65);
}

.bg-ice {
    background-color: rgb(184, 184, 255);
}

.bg-dragon {
    background-color: rgb(157, 201, 124);
}

.bg-dark {
    background-color: black;
}

.bg-steel {
    background-color: lightgrey;
}

/*----------Pokemon-Ball Lade-Icon----------*/

.loader-container {
    z-index: -1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader img {
    width: 100px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*----------Pokemon in Detailansicht - Stats----------*/

.poke-stats-bg {
    z-index: 8;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(-100vh);
    background-color: rgba(0, 0, 0, 0.0);
    backdrop-filter: unset;
    transition: background-color 225ms linear;
    transition: backdrop-filter 225ms linear;
}

.show-stats-bg {
    transform: translateY(0vh);
    backdrop-filter: blur(4px) !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.poke-stats-container {
    z-index: 9;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    overflow: hidden;
    transition: all 225ms linear;
    width: 380px;
    height: 100%;
    opacity: 0;
    border-radius: 25px;
    color: white;
    box-shadow: 2px 2px 8px 0px #000000;
}

.show-stats {
    transform: translateY(0);
    opacity: 1 !important;
}

.stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 30px 20px 30px;
    font-size: 22px;
}

#stat-type-container {
    margin: 0 30px;
    font-weight: bold;
}

#stat-type-container div {
    margin-bottom: 5px;
}

.stats-pokeball {
    position: absolute;
    right: -20px;
    bottom: 390px;
    width: 200px;
    opacity: 0.4;
}

.stats-space {
    background-color: white;
    position: absolute;
    bottom: 0;
    height: 55%;
    width: 100%;
    border-radius: 25px;
}

.stat-img-container {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: all 225ms linear;
}

.show-stat-img {
    transform: translateY(0);
}

.stat-img {
    width: 220px;
    transform: translateY(-90px);
}

.slide-left {
    z-index: 10;
    position: fixed;
    left: 10px;
    top: 50%;
    width: 30px;
}

.slide-right {
    z-index: 10;
    position: fixed;
    right: 10px;
    top: 50%;
    width: 30px;
}

.slide-left:hover, .slide-right:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 225ms ease-in-out;
}