/*----------Grundelemente und besondere Klassen---------*/

* {
    box-sizing: border-box;
}

.d-none {
    display: none !important;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

h1 {
    margin: 0;
}

h2 {
    display: inline-block;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: rgb(210, 210, 210);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid rgb(210, 210, 210);
}

.overflow-hidden {
    overflow: hidden;
}


/*----------header----------*/

header {
    z-index: 5;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 4px 0px #000000;
    background-color: #f6f6f6;
}

header div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    margin: 0 60px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-icon {
    width: 30px;
    transform: rotate(90deg);
    margin-right: 10px;
}

#search {
    display: inline-block;
    height: 25px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
}


/*----------Hauptinhalt - geladene Pokemon----------*/

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("../img/pokeball.jpg");
    background-position: center;
    top: 0;
    background-size: 650px;
    filter: invert(0.8);
    background-repeat: no-repeat;
}

#pokemon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1350px;
    padding: 30px;
}

.pokemon {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 180px;
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 0px #000000;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.pokemon:hover {
    cursor: pointer;
    scale: 1.01;
    transition: all 225ms ease-in-out;
}

.pokemon span {
    margin-bottom: 10px;
}


.pokemon-img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 140px;
    object-fit: cover;
}

.pokeball-img {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 160px;
    opacity: 0.4;
    filter: invert(1);
}

.type-container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 20px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px;
}


/*----------Pokemon-Ball Lade-Icon----------*/

.loader-container {
    z-index: -1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader img {
    width: 100px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*----------Pokemon in Detailansicht - Stats----------*/

.poke-stats-bg {
    z-index: 8;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(-100vh);
    background-color: rgba(0, 0, 0, 0.0);
    backdrop-filter: unset;
    transition: background-color 225ms linear;
    transition: backdrop-filter 225ms linear;
}

.show-stats-bg {
    transform: translateY(0vh);
    backdrop-filter: blur(4px) !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.poke-stats-container {
    z-index: 9;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: translateY(-100%);
    overflow: hidden;
    transition: all 225ms linear;
    width: 380px;
    height: 700px;
    opacity: 0;
    border-radius: 25px;
    color: white;
    box-shadow: 2px 2px 8px 0px #000000;
}

.show-stats {
    transform: translateY(0);
    opacity: 1 !important;
}

.stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 30px 10px 30px;
    font-size: 22px;
}

.back-img {
    width: 20px;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
}

.back-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#stat-type-container {
    margin: 0 30px;
    font-weight: bold;
}

#stat-type-container div {
    margin-bottom: 5px;
}

.stats-pokeball {
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transform: translateY(-122px);
    width: 200px;
    opacity: 0.4;
    filter: invert(1);
}

.stats-space {
    position: absolute;
    bottom: 0;
    height: 55%;
    width: 100%;
    padding: 60px 25px 20px 25px;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-size: 14px;
}

.stat-space-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 4px solid lightgray;
}

.stat-space-header div:hover {
    cursor: pointer;
    color: #0072cc;
}

.stat-space-main {
    width: 100%;
    padding: 20px 0 0 0;
}

.selected-info {
    color: #0072cc;
    margin-bottom: 10px;
    text-decoration: underline;
    text-underline-offset: 14px;
    text-decoration-color: #0072cc;
    text-decoration-thickness: 4px;
}

#info table tr td:first-child {
    padding-right: 30px;
    font-weight: bold;
}

td {
    padding-bottom: 8px;
}

td span {
    margin-right: 8px;
}

.show-stat-img {
    transform: translateY(0);
}

.base-progress {
    background-color: #ededed;
    width: 140px;
    height: 4px;
}

.actual-progress {
    height: 4px;
}

#moves {
    position: absolute;
    overflow-y: auto;
    bottom: 20px;
    top: 105px;
    right: 0;
    left: 0;
    margin: 0 26px;
}

.move {
    display: inline-block;
    font-weight: bold;
    margin: 2px 2px 2px 0;
    padding: 0 2px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

#moves::-webkit-scrollbar {
    width: 6px;
}

#moves::-webkit-scrollbar-track {
    background: rgb(210, 210, 210);
}

#moves::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid rgb(210, 210, 210);
}

.stat-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 200px;
    transform: translateY(-90px);
}

.slide-left {
    z-index: 10;
    position: absolute;
    left: 10px;
    top: -60px;
    width: 40px;
}

.slide-right {
    z-index: 10;
    position: absolute;
    right: 10px;
    top: -60px;
    width: 40px;
}

.slide-left:hover, .slide-right:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 225ms ease-in-out;
}